/* Estilos generales del sidebar */
.sidebar {
  flex: 0.7; /* 1/3 del área principal */
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #BFD730; /* Color Green 730 */
  color: #333; /* Color de texto gris oscuro */
  border-radius: 10px;
}

/* Estilo de los enlaces principales */
.sidebar .toctree-l1 {
  list-style: none;
  background: #5DC8DA; /* Color Baby Blue DA */
  text-indent: 10px;
  transition: background-color 0.3s;
}

.sidebar .toctree-l1:hover {
  background: #EF3F45; /* Color Red F45 */
}

.sidebar .toctree-l1 > a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.sidebar .toctree-l1 > a:hover {
  color: #fff;
}

/* Estilo de los submenús */
.sidebar .submenu {
  list-style: none;
  background: #d1d1d1; /* Color de fondo para los submenús */
  padding: 0;
  display: none; /* Por defecto, el submenú está oculto */
  margin-top: 5px;
  border-radius: 5px;
}

.sidebar .submenu .toctree-l2 {
  text-indent: 20px;
  background: #ececec;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar .submenu .toctree-l2:hover {
  background: #BFD730; /* Color Green 730 */
}

.sidebar .submenu .toctree-l2 > a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.sidebar .submenu .toctree-l2 > a:hover {
  color: #333;
}

/* Animación para la expansión del submenú */
.sidebar .submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.sidebar .submenu.active {
  max-height: 500px; /* Ajusta según el contenido */
  display: block;
}

/* Estilo de los botones de expansión */
.toggle-menu {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Hace el puntero del mouse más interactivo */
}

.toggle-icon {
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.toggle-menu.active .toggle-icon {
  transform: rotate(45deg); /* Rotar el icono cuando el submenú está expandido */
}

/* Efectos de hover para las opciones del submenú */
.sidebar .submenu .toctree-l2:hover {
  background: #BFD730; /* Color Green 730 */
  color: white;
}
